@import "tailwindcss";

/* Custom styles for Drawing Book */
body {
    background-color: #1a1a1a;
    color: white;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    /* Prevent scroll on mobile */
}

/* Scrollbar hiding */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}